#root-main {
  #id_iharsharamau,
  #id_speciality,
  #id_btm-block20,
  #id_btm-block200,
  .mainmenu ul,
  .copy {
    visibility: hidden;
  }
}



.bk--main,
.bk--me {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.project {
  animation-duration: 1s;
  animation-fill-mode: both;
}

#project__pr1   { animation-delay: 4.0s; };
#project__pr2   { animation-delay: 4.0s; };
#project__pr3   { animation-delay: 4.4s; };
#project__pr4   { animation-delay: 4.8s; };
#project__pr5   { animation-delay: 4.8s; };
#project__pr6   { animation-delay: 5.2s; };
#project__pr7   { animation-delay: 5.2s; };
#project__pr8   { animation-delay: 5.8s; };
#project__pr9   { animation-delay: 5.6s; };
#project__pr10  { animation-delay: 5.6s; };
#project__pr11  { animation-delay: 5.8s; };


.me-header {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
}














