#root-main {
  #id_iharsharamau,
  #id_speciality,
  #id_btm-block20,
  #id_btm-block200,
  .mainmenu ul,
  .copy {
    visibility: hidden;
  }
}



.bk--main,
.bk--me {
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.project {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

#project__gvinico--site             { animation-delay: 4.0s; };
#project__gutewetter--site          { animation-delay: 4.4s; };
#project__gutewetter--mobapp        { animation-delay: 4.5s; };
#project__cryptosimple--logo        { animation-delay: 4.9s; };
#project__mechanization--site       { animation-delay: 5.3s; };
#project__alpenclub--layout         { animation-delay: 5.4s; };
#project__manteraresidence--layout  { animation-delay: 5.5s; };
#project__mechanization--mobapp     { animation-delay: 5.6s; };

#project__tursvodka--site           { animation-delay: 6.0s; };
#project__alati--site               { animation-delay: 5.8s; };
#project__kubele--site              { animation-delay: 5.9s; };
#project__mba--site                 { animation-delay: 6.1s; };


.me-header {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
}














