#container-main .content {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__top {
  margin-top: 20vh;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 1;

  @media (width >= $size-md) {
    width: 100%;
    max-width: 500px;
    min-width: 350px;
    margin-left: auto;
    margin-right: 10vw;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media ($size-lg < width < $size-xl) {
    max-width: 420px;
  }

  @media (height <= $size-sm) {
    margin-top: 150px;
    max-width: 350px;
    margin-left: 10vw;
    margin-right: auto;
  }

  @media (width <= $size-md) and (height <= $size-sm) {
    margin-top: 45vh;
    max-width: 200px;
  }

  @media (width >= $size-md) and (height <= $size-sm) {
    margin-top: 130px;
  }

}

.main__btm {
  margin-bottom: 10vh;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 2;

  @media (width >= $size-md) {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: 10vw;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (height <= $size-sm) {
    display: none;
  }

}



#id_iharsharamau {
  width: 100%;
  max-width: 500px;
}

#id_speciality {
  padding: 0;
  margin-top: 25px;
  margin-left: 12%;
  font-weight: 200;
  font-size: 20px;
  list-style: none;
  text-transform: uppercase;

  @media (width >= $size-md) {
    font-size: 30px;
    margin-top: 35px;
  }

  @media (height <= $size-md) {
    font-size: 25px;
    margin-top: 20px;
  }

  @media (height <= $size-sm) {
    font-size: 20px;
    margin-top: 20px;
  }

  span {
    color: $color-blue;
  }

}

#id_btm-block20,
#id_btm-block200 {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-top: 30px;
}

#id_btm-block200 {
  margin-left: 12%;

  @media (height <= $size-md) {
    margin-left: 30px;
    margin-top: 20px;
  }

  @media (height <= $size-xs) {
    margin-left: 28px;
    margin-top: 15px;
  }

}

.btm-block__bignumb {
  font-family: $font-family-big;
  line-height: .72;
  font-size: 90px;

  @media (width >= $size-md) {
    font-size: 120px;
  }

  @media (height <= $size-md) {
    font-size: 90px;
  }

  @media (height <= $size-xs) {
    font-size: 80px;
  }

}

.btm-block__plus {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: -1px;
  margin-top: 1%;
  align-self: flex-start;

  @media (width >= $size-md) {
    width: 36px;
    height: 36px;
  }

  @media (height <= $size-md) {
    width: 30px;
    height: 30px;
  }

}

.btm-block__descript {
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.11;
  color: $color-yellow;
  margin-left: 5px;

  @media (width >= $size-md) {
    font-size: 20px;
  }

  @media (height <= $size-md) {
    font-size: 16px;
  }

  @media (height <= $size-xs) {
    font-size: 14px;
  }

  div:nth-child(1) {
    font-size: 125%;
    color: $color-main;
  }

}

