#container-projects .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0;
  min-height: 100vh;
  grid-auto-flow: row;

  @media (width >= $size-sm) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

}

.project {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $color-main;
  padding: 20px;
  overflow: hidden;
  transition: 1s;

  img {
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 100px;
    transition: 1s;

    @media (width >= $size-md) {
      max-width: 300px;
      max-height: 130px;
    }

    @media (height <= $size-md) {
      max-height: 100px;
    }

  }

  &:hover {

    img {
      scale: 1.06;
    }

    .pr-title {
      opacity: 1 !important;
    }

  }

}

#project__pr1 { grid-area: 1 / 1 / 2 / 3; }
#project__pr2 { grid-area: 2 / 1 / 3 / 3; }
#project__pr3 { grid-area: 3 / 1 / 4 / 3; }
#project__pr4 { grid-area: 4 / 1 / 5 / 3; }
#project__pr5 { grid-area: 5 / 1 / 6 / 3; }
#project__pr6 { grid-area: 6 / 1 / 7 / 3; }
#project__pr7 { grid-area: 7 / 1 / 8 / 3; }
#project__pr8 { grid-area: 8 / 1 / 9 / 2; }
#project__pr9 { grid-area: 8 / 2 / 9 / 3; }
#project__pr10 { grid-area: 9 / 1 / 10 / 2; }
#project__pr11 { grid-area: 9 / 2 / 10 / 3; }

@media (width >= $size-sm) {
  #project__pr1 { grid-area: 1 / 1 / 2 / 3; }
  #project__pr2 { grid-area: 1 / 3 / 2 / 5; }
  #project__pr3 { grid-area: 2 / 1 / 3 / 5; }
  #project__pr4 { grid-area: 3 / 1 / 4 / 3; }
  #project__pr5 { grid-area: 3 / 3 / 4 / 5; }
  #project__pr6 { grid-area: 4 / 1 / 5 / 3; }
  #project__pr7 { grid-area: 4 / 3 / 5 / 5; }
  #project__pr8 { grid-area: 5 / 1 / 6 / 2; }
  #project__pr9 { grid-area: 5 / 2 / 6 / 3; }
  #project__pr10 { grid-area: 5 / 3 / 6 / 4; }
  #project__pr11 { grid-area: 5 / 4 / 6 / 5; }
}



#project__pr1 {
  background: #1D1D1F url("../img/lbk-gutewetter1.svg") 50% 50%;
  background-size: cover;
}

#project__pr2 {
  background-color: #DDDDDD;

   .pr-title {
     color: #000000;
     opacity: 0.66;
   }

}

#project__pr3 {
  background: #932057 url("../img/lbk-cryptosimple.jpg") 50% 50%;
  background-size: cover;

}

#project__pr4 {
  background: #ffffff;

  .pr-title {
    color: #000000;
    opacity: 0.66;
  }

}

#project__pr5 {
  background: #000000 url("../img/lbk-mechanization1.png") 50% -40% repeat-x;

  @media (width >= $size-sm) {
    background-position: 50% 0;
  }

}

#project__pr6 {
  background: #1B1C1E url("../img/lbk-mechanization2.png") 50% -40% repeat-x;

  @media (width >= $size-sm) {
    background-position: 50% 0;
  }

}

#project__pr7 {
  background: #71878D;
}

#project__pr8 {
  background-color: #005CAE;

  img {
    max-width: 100px;
  }

}

#project__pr9 {
  background-color: #DAD3C1;

  img {
    max-width: 100px;
  }

}

#project__pr10 {
  background-color: #2D5492;


  img {
    max-width: 100px;
  }

}

#project__pr11 {
  background-color: #A41000;

  img {
    max-width: 100px;
  }

}

.pr-title {
  position: absolute;
  z-index: $z-index-main;
  left: 10px;
  bottom: 6px;
  font-size: 16px;
  color: $color-main;
  opacity: 0.4;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 1s;

  @media (width >= $size-md) {
    font-size: 18px;
  }

}