#container-projects .content {
  position: relative;
  display: block;
  z-index: $z-index-content;

  @media (width >= $size-sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr) 0.5fr;
    gap: 0;
    min-height: 100vh;
    grid-auto-flow: row;
    grid-template-areas:
    "project__gvinico--site project__gvinico--site"
    "project__gutewetter--site  project__gutewetter--mobapp"
    "project__cryptosimple--logo project__cryptosimple--logo"
    "project__mechanization--site project__alpenclub--layout"
    "project__manteraresidence--layout project__mechanization--mobapp"
    "projectadd projectadd";
  }

}

.project {
  display: flex;
  position: relative;  
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $color-main;
  padding: 20px;
  overflow: hidden;
  transition: 1s;
  min-height: 120px;

  @media (width >= $size-md) {
    min-height: auto;
  }

  @media (height <= $size-md) {
    min-height: 80px;
  }

  img {
    width: 100%;
    max-width: 250px;
    height: auto;
    max-height: 100px;
    transition: 1s;

    @media (width >= $size-md) {
      max-width: 300px;
      max-height: 120px;
    }

    @media (height <= $size-md) {
      max-height: 80px;
    }

  }

  &:hover {

    img {
      animation-duration: 1s;
      animation-fill-mode: both;
      backface-visibility: visible;
      animation-name: headShake;
    }

    .pr-title {
      opacity: 1 !important;
    }

  }

}

.projectadd {
  grid-area: projectadd;
  display: flex;
  flex-wrap: nowrap;

  .project {
    flex: 1 1 auto;
    min-height: 80px !important;

    @media (height <= $size-md) {
      min-height: 60px !important;
    }

    img {
      max-width: 50px !important;

      @media (width >= $size-md) {
        max-width: 60px !important;
      }

    }

  }

}



#project__gvinico--site {
  grid-area: project__gvinico--site;
  background: #AE194A url("../img/lbk-gvinico.png") 50% 50%;
  background-size: cover;

  .pr-title {
    opacity: 0.6;
  }

}

#project__gutewetter--site {
  grid-area: project__gutewetter--site;
  background-color: #DDDDDD;

  .pr-title {
    color: #000000;
    opacity: 0.66;
  }

}

#project__gutewetter--mobapp {
  grid-area: project__gutewetter--mobapp;
  background: #1D1D1F url("../img/lbk-gutewetter1.svg") 50% 50%;
  background-size: cover;
}

#project__cryptosimple--logo {
  grid-area: project__cryptosimple--logo;
  background: #932057 url("../img/lbk-cryptosimple.png") 50% 50%;
  background-size: cover;
}

#project__mechanization--site {
  grid-area: project__mechanization--site;
  background: #000000 url("../img/lbk-mechanization1.png") 50% -40% repeat-x;

  @media (width >= $size-sm) {
    background-position: 50% 0;
  }

}

#project__alpenclub--layout {
  grid-area: project__alpenclub--layout;
  background: #ffffff;

  .pr-title {
    color: #000000;
    opacity: 0.66;
  }

}

#project__manteraresidence--layout {
  grid-area: project__manteraresidence--layout;
  background: #71878D;
}

#project__mechanization--mobapp {
  grid-area: project__mechanization--mobapp;
  background: #1B1C1E url("../img/lbk-mechanization2.png") 50% -40% repeat-x;

  @media (width >= $size-sm) {
    background-position: 50% 0;
  }

}

#project__tursvodka--site {
  background-color: #005CAE;

  img {
    max-width: 100px;
  }

}

#project__alati--site {
  background-color: #DAD3C1;

  img {
    max-width: 100px;
  }

}

#project__kubele--site {
  background-color: #2D5492;


  img {
    max-width: 100px;
  }

}

#project__mba--site {
  background-color: #A41000;

  img {
    max-width: 100px;
  }

}

.pr-title {
  position: absolute;
  z-index: $z-index-main;
  left: 10px;
  bottom: 6px;
  font-size: 16px;
  color: $color-main;
  opacity: 0.4;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 1s;

  @media (width >= $size-md) {
    font-size: 18px;
  }

  @media (height <= $size-md) {
    font-size: 16px;
  }

}