#container-me .content {
  position: relative;
  z-index: $z-index-main;
  margin: 50px 0 50px 25px;
  pointer-events: none;

  @media (width >= $size-md) {
    margin: 10vh 0 10vh 10vw;
  }

  .me-header {
    margin: 0 25px 1rem 0;
    line-height: 1;
    font-family: $font-family-big;
    font-size: 100px;
    caret-color: transparent;

    @media (width >= $size-md) {
      font-size: 120px;
    }

  }

  .me-content {
    position: relative;
    margin-left: 70px;
    padding-right: 25px;
    font-size: 14px;
    overflow-y: auto;
    z-index: $z-index-content;

    @media (width >= $size-md) {
      margin-left: 85px;
      padding-right: 50px;
      font-size: 16px;
      height: 65vh;
    }

    @media (height <= $size-sm) {
      height: auto;
    }

  }

  p {
    line-height: 1.44;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .me-signature {
    max-width: 160px;
    height: auto;
    margin: -20px 0 0 100px;
  }

}
