HTML {
	scroll-behavior: smooth;
}

BODY {
	background-color: $color-bk;
	color: $color-main;
	height: auto !important;
	min-height: 100vh;
	overflow: auto;
}

.container {
	display: block;
	height: 100%;
	overflow: hidden;

	@media (width >= $size-lg) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		gap: 0;
		scroll-snap-type: y mandatory;
	}

}

#container-main {
	position: relative;
	min-height: 100dvh;
	height: auto;
	background: $color-bk-main url("../img/bk-main.png") right center;
	scroll-snap-align: start;
	overflow: hidden;

	@media (height >= $size-sm) {
		height: 100dvh;
	}

}

#container-projects {
	position: relative;
	z-index: $z-index-content;
	background: $color-bk;
	scroll-snap-align: start;
	overflow: hidden;
}

#container-me {
	position: relative;
	z-index: $z-index-content;
	min-height: 100vh;
	background: $color-bk;
	scroll-snap-align: start;
	overflow: hidden;

	@media (width >= $size-md) {
		height: 100vh;
	}

	@media (height <= $size-sm) {
		min-height: 100vh;
		height: auto;
	}

 }

.container__bk {
	position: absolute;
	z-index: $z-index-bk;
	top: 0;
	width: 100%;
	height: 100%;

	&.bk--main {
		background: url("../img/me-l.png") right center no-repeat;
		background-size: contain;

		@media (height <= $size-sm) {
			top: -100px;
			height: 180%
		}

	}

	&.bk--me {
		background: url("../img/me-r.jpg") left center no-repeat;
		background-size: contain;

		@media (height <= $size-sm) {
			top: -100px;
			height: 180%
		}

	}

}

canvas {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: $z-index-canvas;
}























