$size-xs:            375px;
$size-sm:            576px;
$size-md:            768px;
$size-lg:            992px;
$size-xl:            1200px;
$size-xxl:           1400px;

$color-bk:           #0C0C0D;
$color-bk-main:      #1D1D1F;
$color-main:         #FFFFFF;
$color-blue:         #8BB3C3;
$color-yellow:       #F1D5AB;

$font-family:        Inter, Arial, Helvetica, sans-serif;
$font-family-big:    League, 'Arial Narrow', Helvetica, sans-serif;
$font-size-base:     16px;



