$size-xs:            375px;
$size-sm:            576px;
$size-md:            768px;
$size-lg:            992px;
$size-xl:            1200px;
$size-xxl:           1400px;

$color-bk:           #0C0C0D;
$color-bk-main:      #1D1D1F;
$color-main:         #FFFFFF;
$color-blue:         #8BB3C3;
$color-yellow:       #F1D5AB;

$font-family:        'Nunito', Arial, Helvetica, sans-serif;
$font-family-big:    'League Gothic', 'Arial Narrow', Helvetica, sans-serif;
$font-size-base:     16px;

$z-index-bk:          1;
$z-index-main:        5;
$z-index-canvas:      6;
$z-index-content:     7;

$z-index-menu:        8;
$z-index-pagebtn:     9;


