:root {

  --color-bk:           #0C0C0D;
  --color-bk-left:      #1D1D1F;
  --color-main:         #FFFFFF;
  --color-blue:         #8BB3C3;
  --color-yellow:       #F1D5AB;

  --font-family:        Inter, Arial, Helvetica, sans-serif;
  --font-size-base:     16px;


}